<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MinecraftEntities" connectionString="metadata=res://*/MinecraftModel.csdl|res://*/MinecraftModel.ssdl|res://*/MinecraftModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=edudb.thomasmore.be,3000;initial catalog=Data_r0696944;persist security info=True;user id=sql_r0696944;password=sql4you;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>